@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">PRACTICA ZAPATILLAS</h1>
    <p>
        <a asp-action="zapatillas" asp-controller="paginacion">
            INICIO
        </a>
    </p>
</div>
